<div class="pagination">
    <button id="prevPage" class="btn">Previous</button>
    <span class="paginationInfo">
        Page
        <span class="currentPage">1</span>
        of
        <span class="totalPages">1</span>
    </span>
    <button id="nextPage" class="btn">Next</button>
</div>