<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Add-Address</title>
</head>
<body>
    <h1>Add New Address</h1>

    <% if (typeof error !== 'undefined') { %>
        <div class="error"><%= error %></div>
    <% } %>

    <form action="/api/new-address" method="POST">
        <%- include('partials/form-fields.ejs') %>
        <button class="btn" type="submit">Add Address</button>
    </form>

</body>
</html>