body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: skyblue;
  }

.btn {
    padding: 5px 10px;
    color: white;
    background-color: blue;
    text-decoration: none;
    border-radius: 3px;
  }